<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <h4 class="bold mt-0">Gain & Recycle</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odit cumque asperiores iste accusamus, minus
      nemo voluptates excepturi ipsa, repellendus odio perferendis voluptas repudiandae laborum, amet dolorum.
      Similique, rerum alias?</p>
    <div class="scanIconContainer mt-3 ion-text-center">
      <img (click)="scanBarcode()" src="/assets/imgs/scan.png">
      <p class="appTxt gray mt-0">Click on scan icon to scan a barcode!</p>
    </div>
  </ion-grid>

</ion-content>